.Footer {
	padding: 2vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: darkgreen;
	color: white;
}
.footerBtn {
	padding: 0.8rem 0.5rem 0.8rem 0.5rem;
	background-color: rgb(30, 116, 35);
	color: white;
	border: darkgreen 1px solid;
	border-radius: 20px;
	text-align: center;
}
