/* Options */
.TeamOptions {
	flex-direction: row;
	background-color: green;
	margin: 0px 35px;
	padding: 15px 0px;
}
.TeamBtn {
	padding: 0.8rem;
	background-color: rgb(30, 116, 35);
	color: white;
	border: darkgreen 2px solid;
	border-radius: 20px;
	width: 5.2rem;
	outline: none;
}
#deleteBtn {
	background-color: rgb(212, 65, 65);
}

/* Options Pop-Down */
.iconBtn {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
.optionDiv {
	display: block;
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
}
.option {
	height: 120%;
	width: fit-content;
}
.optionBtn {
	outline: none;
	border: none;
	background-color: unset;
}

.deleteDiv {
	display: flex;
	flex-direction: column;
	background-color: rgb(248, 109, 109);
	color: white;
	border: 3px red solid;
	border-radius: 15px;
}
#delete:active {
	outline: none;
	background-color: red;
	border-radius: 15px;
}
