.Amenities {
	background-color: #00b74a;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	border: 2px solid darkgreen;
}
ul {
	list-style-type: none;
}
.editBtn {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	outline: none;
	padding-left: 70px;
}
.info {
	padding: 0;
}
