#MemberCard {
	text-shadow: 1px 1px rgb(0, 0, 0);
	padding: 1rem;
	margin: 0px 0px 20px 50px;
	max-width: 275px;
	min-width: 275px;
	background-color: rgb(79, 168, 79);
	border: rgb(0, 83, 0) 2px solid;
	border-radius: 25px;
	color: white;
	word-wrap: break-word;
}
#MemberCard:active {
	background-color: darkgreen;
}
#MemberDiv:last-child {
	margin-bottom: 100px;
}

h1 {
	text-align: center;
}
h3 {
	text-align: center;
}
h4 {
	text-align: center;
}
p {
	font-size: 130%;
}
